@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";

// General Styling

$light: #fff;
$dark: #000;
$secondary-dark: #021600;
$green: #12CA04;
$grey: #C4C4C4;

$primary-font: 'Orbitron', Arial, sans-serif;

html {
    position: relative; min-height: 100%;
}

body {
    background-color: $secondary-dark;
    overflow-x: hidden;
    &::after {
        content: "";
        background: url(../images/green.jpg) no-repeat center center/cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }
}
a {
    color: $light;
    font-family: $primary-font;
    font-weight: 400;
    &:hover {
        color: $green;
    }
}
p {
    color: $light;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

h1, h2, h3, h4, h5 {
    color: $light;
    font-family: $primary-font;
    font-weight: 700;
}

span {
    color: $green;
}

// Button Styling

button {
    width: 250px;
    background-color: transparent;
    border: $green 1px solid;
    border-radius: 10px;
    padding: 10px 50px;
    color: $light;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    transition: background-color .2s ease-in-out;
    &:hover {
        background-color: #087300;
    }
}

// Navigation Bar Styling

.logo-container {
    height: 46px;
    background-color: $dark;
    border-bottom: $secondary-dark 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 25px;
    }
    @include media-breakpoint-up(md) {
        padding-right: 0px;
        border-right:  $secondary-dark 1px solid;
        border-bottom: none;
        margin: 0px;
    }
}

.arrow-image {
    height: 30px;
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $secondary-dark 1px solid;
    .arrow {
        transition: .2s ease-in;
        &.open {
            transform: scaleY(-1);
            filter: flipv;
        }
    }
    @include media-breakpoint-up(md) {
        display: none;
    }
}

.navigation-bar {
    height: 46px;
    padding: 0px;
    z-index: 1;
    @include media-breakpoint-up(md) {
        width: 100%;
        background-color: $dark;
    }
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10%);
    transition: all .3s ease-in;
    a {
        width: 100%;
        background-color: $dark;
        border-bottom: $secondary-dark 1px solid;
        &.active {
            color: $green;
        }
    }
    &.open {
        display: flex;
        flex-direction: column;
        text-align: center;
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }
    @include media-breakpoint-up(md) {
        height: 100%;
        display: flex;
        flex-direction: row;
        visibility: visible;
        opacity: 1;
        padding-top: 5px;
        a {
            width: 100px;
            height: 100%;
            border-bottom: none;
            padding: 10px 0px;
        }
    }
}

.tag-effect a::before,
.tag-effect a::after {
	display: inline-block;
	opacity: 0;
	transition: transform 0.3s, opacity 0.2s;
}

.tag-effect a::before {
	margin-right: 1px;
	content: '<';
	transform: translateX(5px);
}

.tag-effect a::after {
	margin-left: 1px;
	content: '>';
	transform: translateX(-5px);
}

.tag-effect a:hover::before,
.tag-effect a:hover::after,
.tag-effect a:focus::before,
.tag-effect a:focus::after, {
	opacity: 1;
	transform: translateX(0px);
}

// Main Section Styling - HOME

.sub-container {
    @include media-breakpoint-up(md) {
        margin: 0px 0px 50px 0px;
    }
    @include media-breakpoint-up(lg) {
        margin: 0px 0px 60px 0px;
    }
}

.intro {
    margin: 20px 0px 40px 0px;
    .self-intro {
        h1 {
            font-size: 2em;
        }
        .sub-intro {
            font-size: 1em;
        }
        @include media-breakpoint-up(md) {
            h1 {
                font-size: 2.5em;
            }
            .sub-intro {
                font-size: 1.5em;
            }
        }
    }
    .read-more {
        margin: 30px 0px;
    }
    @include media-breakpoint-up(md) {
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }
    @include media-breakpoint-up(lg) {
        margin: 50px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        padding: 0px 0px 10px 0px;
    }
}
.main-logo {
    display: none;
    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 60px;
    }
}

#logo1 {
    animation: fill-white .6s ease forwards 2s;
    @include media-breakpoint-up(md) {
        width: 309px;
        height: 406px;
    }
    @include media-breakpoint-up(lg) {
        
    }
    @include media-breakpoint-down(sm) {
        // width: 80px;
        // height: 100px;
    }
}

#logo1 path {
    stroke-dasharray: 2854;
    stroke-dashoffset: 2854;
    animation: line-animate 6s ease forwards;
}

#logo2 {
    animation: fill-green .6s ease forwards 2s;
    @include media-breakpoint-up(lg) {
        width: 144px;
        height: 407px;
    }
}

#logo2 path {
    stroke-dasharray: 5263;
    stroke-dashoffset: 5263;
    animation: line-animate 6s ease forwards;
}

@keyframes line-animate {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-green {
    from {
        fill: transparent;
    }
    to {
        fill: $green;
    }
}

@keyframes fill-white {
    from {
        fill: transparent;
    }
    to {
        fill: $light;
    }
}

// Main Section Styling - ABOUT

#about-section-container {
    padding: 0px 10px;
    margin-bottom: 60px;
    @include media-breakpoint-up(lg) {
        margin-top: 50px;
        padding: 0px 0px;
    }
    .description {
        padding-right: 40px;
        @include media-breakpoint-down(lg) {
            padding-right: 0px;
            padding-left: 0px;
            margin-bottom: 80px;
        }
        @include media-breakpoint-down(md) { 
            margin: 0px 20px 80px 20px;
        }
    }
    .skills-section {
        padding-left: 40px;
        @include media-breakpoint-down(xl) {
            
        }
        @include media-breakpoint-down(lg) {
            padding-left: 0px;
        }
        @include media-breakpoint-down(md) { 
            margin: 0px 20px;
        }
    }
}

// Main Section Styling - PROJECTS

#projects-section-container {
    padding: 0px 10px;
    @include media-breakpoint-up(md) {
        margin-bottom: 10px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 0px;
        margin-top: 20px;
        padding: 0px 0px;
    }
}

.sub-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.individual-projects {
    border: none;
    background-color: transparent;
    @include media-breakpoint-up(lg) { 
        margin: 0px;
    }
    .image-container {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            height: 150px;
            border: 5px solid #FFFFFF;
            border-radius: 10px;
        }
    }
    .content-container {
        h5 {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 18px;
            color: $green;
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding-left: 0px;
            a {
                color: #666666;
                text-decoration: none;
                transition: .5s;
                &:hover {
                    color: $green;
                    text-shadow: 0 0 5px $green;
                }
            }
            li {
                margin-right: 10px;
                padding: 5px;
                background-color: #043600;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                border-radius: 5px;
            }
        }
    }
}

// Main Section Styling - CONTACT

.heading-container {
    display: flex;
    justify-content: center;
}

form {
    .form-left, .form-right {
        label {
            color: $light;
            font-family: $primary-font;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
        }
        .form-control {
            background-color: transparent;
            border: none;
            border-bottom: $green 1px solid;
            color: $light;
            font-family: $primary-font;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 30px;
            &::placeholder {
                color: $light;
                font-family: $primary-font;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
            }
            &:focus {
                color: $light;
                background-color: transparent;
                border-color: $green;
                outline: 0;
                box-shadow: 0 0 0 0.2rem $green;
            }
            option {
                color: $dark;
                font-family: $primary-font;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                &:hover {
                    background: $green;
                }
            }
        }
        .design-option {
            margin: 0px 20px 35px 0px;
            @include media-breakpoint-down(lg) {
                margin: 0px 10px 35px 0px;
            }
            @include media-breakpoint-down(sm) {
                margin: 0px 10px 35px 0px;
            }
        }
        .submit-contact {
            display: flex;
            justify-content: center;
        }
    }
}

// Footer Styling

.footer-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    margin: 5px 0px;
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(sm) { 
        display: flex;
        justify-content: center;
    }
    @include media-breakpoint-up(lg) {
        margin: 0px 0px;
        padding: 10px 10px;
    }
    .social-media-icons {
        width: 150px;
        display: flex;
        justify-content: center;
        padding: 0px 0px;
        border-right: #053700 1px solid; 
        ul {
            padding: 0px;
            margin-bottom: 0px;
            li {
                list-style-type: none;
                display: inline;
                margin: 5px;
            }
            a {
                text-decoration: none;
                svg {
                    path {
                        transition: fill .2s ease-in;
                        &:hover {
                            fill: #12CA04;
                        }
                    }
                }
                svg .linkedin {
                    width: 20px;
                    height: 20px;
                }
                svg .github {
                    width: 17px;
                    height: 17px;
                }
                svg .fivehundredpx {
                    width: 20px;
                    height: 20px;
                }
                svg .flickr {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
    .copyright-info {
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        span {
            margin: 0px 0px;
            color: $grey;
            font-family: $primary-font;
            font-weight: normal;
            font-size: 10px;
            line-height: 7px;
        }
    }
}

